
<ion-header class="listagem-header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <h5>Serviços</h5>
  </ion-navbar>
</ion-header>

<ion-content class="listagem-content">
  <div padding>
    <ion-list>

      <ion-item-sliding *ngFor="let servico of servicos" #item>

        <button ion-item (click)="openDetalhes(servico)">
          
          <h2> <b>{{ servico.descricao}}</b> do tipo {{ servico.tipo }}</h2>
          <p>Status: {{ servico.tipoStatus }} • Data: {{ servico.data }}</p>
        </button>

        <ion-item-options *ngIf="user.tipo == 'CLIENTE' && servico.tipoStatus == 'EM_ABERTO'" side="right">
          <button class="cancelar" ion-button color="danger" (click)="cancel(servico)">
              <ion-icon name="ios-close-outline"></ion-icon>Cancelar
          </button>
        </ion-item-options>

      </ion-item-sliding>

    </ion-list>
  </div>
</ion-content>