page-perfil {
     font-family: Dessau-Light;

     ion-header.perfil-header {
        font-weight: bold;  

        display: flex;
        flex-direction: column;
        align-items: center;

        color:  black;
        background: #EFEEF4;
    }

    ion-content.perfil-content {        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div {
        display: flex;
        align-items: center;
        flex-direction: column;
        background: transparent !important;
    }

    p {
        font-size: 1em;
    }

    h5 {
        font-weight: bold;  
    }

    button.editar {
        font-size: 25px;
        font-weight: bold;
    }

    ion-icon {
        padding-right: 10px;
    }

}