page-home {
    font-family: Dessau-Light;

    ion-header.home-header {
        color:  white;
        font-weight: bold;

        .title-header {
            display: table;
            font-size: 1.5em;
            font-weight: bold;
            width: 100%;

            button {
                float: left;
            }

            .title-text {
                align-items: center; 
                height: 32px;
            }
        }

        .toolbar-md {
            height: 56px;
        }
    }

    ion-content.home-content {      
        align-items: center;
        background-color: #FAFAFA;
        display: flex;
        flex-direction: column;
    }

    h5 {
        font-weight: bold;  
    }

    p {
        align-items: left;
        font-size: 1em;
    }

    button.logout {
        font-size: 12px;
        font-weight: bold;  
        height: 25px;
        width: 110px;
    }
}


