page-home {
    font-family: Dessau-Light;

    ion-header.home-header {
        background: #EFEEF4;
        color:  black;
        font-weight: bold;

        .title-header {
            font-size: 1.15em;
            font-weight: bold;
            position: absolute;
            top: 25%;
            width: 100%;
        }

        .toolbar-md {
            padding: 0 4px;
        }
    }

    ion-content.home-content {      
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: transparent !important;
    }

    h5 {
        font-weight: bold;  
    }

    p {
        font-size: 1em;
        align-items: left;
    }

    button.logout {
        width: 110px;
        height: 25px;

        font-size: 12px;
        font-weight: bold;  
    }

}


