
<ion-header class="cadastro-cliente-header">
  <ion-navbar>
    <h5>Cadastro de Cliente</h5>
  </ion-navbar>
</ion-header>
<script language="Javascript">
alert('<?php echo "O CODE VEM AQUI";?>');

  <?php
    function url_exists($url) {

      $ch = curl_init($url);
      curl_setopt($ch, CURLOPT_NOBODY, true);
      curl_exec($ch);
      $code = curl_getinfo($ch, CURLINFO_HTTP_CODE);
      curl_close($ch);

      return ($code == 200); // verifica se recebe "status OK"
    }
  ?>
</script>
<ion-content class="cadastro-cliente-content">

  <div padding>
    <ion-list>
      <form name="dadosFornecedorForm">
        <ion-avatar item-start>
          <ion-row>
            <ion-col col-5>
              <img class="avatar" *ngIf="!hasPicture" [src]="urlDefault">
              <img class="avatar" *ngIf="hasPicture" [src]="dados_cliente.fotoPerfil">
            </ion-col>
            <ion-col col-5>
              <p color="dark">Escolha seu avatar</p>
              <button *ngIf="!buttonClicked" class="inserir" ion-button color="pink" round small (click)="buttonChange()">
                <ion-icon ios="ios-add" md="md-add"></ion-icon>Inserir
              </button>
              <button *ngIf="buttonClicked" class="confirmar" ion-button color="pink" round small (click)="confirmar(urlInserted)">
                <ion-icon ios="ios-add" md="md-add"></ion-icon>Confirmar
              </button>
              <input *ngIf="buttonClicked" type="url" name="url" placeholder="https://example.com"
               pattern="https://.*" required [(ngModel)]="urlInserted"/>
            </ion-col>
          </ion-row>
        </ion-avatar>

        <ion-item class="item">
          <ion-label floating>Nome Completo</ion-label>
          <ion-input type="text" name="nome" pattern=".{6,}" [(ngModel)]="dados_cliente.nomeCompleto" required #name="ngModel"
                    [class.invalid]="name.errors && name.dirty"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="name.errors?.required && name.dirty">
          Informe o seu nome completo
        </ion-item>
        <ion-item>
          <ion-label floating>Nome de Usuário</ion-label>
          <ion-input type="text" name="nomeusuario" pattern=".{4,}" [(ngModel)]="dados_cliente.login" required #username="ngModel"
                    [class.invalid]="username.errors && username.dirty"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="username.errors?.required && username.dirty">
          Informe o nome do usuário
        </ion-item>
        <ion-item>
          <ion-label floating> Email</ion-label>
          <ion-input type="email" name="email" [(ngModel)]="dados_cliente.email" required email #email="ngModel"
                    [class.invalid]="email.errors && email.dirty"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="email.errors?.email && email.dirty">
          Email inválido
        </ion-item>

        <ion-item>
          <ion-label floating>Senha</ion-label>
          <ion-input type="password" name="password" pattern=".{4,}" [(ngModel)]="dados_cliente.senha" required #password="ngModel"
                    [class.invalid]="password.errors && password.dirty"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="password.errors?.required && password.dirty">
          Informe a senha
        </ion-item>
        <ion-item>
          <ion-label floating>Confirme sua Senha</ion-label>
          <ion-input type="password" value="" pattern=".{6,}" name="repassword" [(ngModel)]="dados_cliente.conf_senha"></ion-input>
        </ion-item>
      </form>
      
      <ion-item>
        <button class="cadastrar" ion-button round full color="pink" (click)="cadastrar()">
            <ion-icon ios="ios-person" md="md-person"></ion-icon> Cadastrar
        </button>
      </ion-item>
      
    </ion-list> 
  </div>

</ion-content>